
nav{
    background-color: var(--background-green) ;
    margin-top: 40px;
    padding: 20px;
    display: flex;
    align-items: center;
    width: 1200px;
    
}

.link-nav{   
    margin-right: 20px;
    margin-left: 5px;
    color: #fff;
    
}

.link-nav:hover{
    background-color: #fff;
    color: var(--color-brown);
}

.nav{
    justify-content: right;
    display: flex;
}


.nav-item{
    padding: 10px;
    display: flex;
    border-radius: 15px;
    cursor: pointer;
}

.js-content section{
    display: none;
}

.js-content section.active{
    display: block;
}

.toggle {
    align-items: center;
    gap: 0.5rem;
    background-color: #494949;
    padding: 0.625rem;
    border-radius: 5px;
    letter-spacing: 0.1rem;
    font-weight: bold;
    display: none;
}